.about-card {
    display: flex;
    padding: 48px 39px;
    justify-content: start;
    align-items: center;
    border-radius: 18px;
    background: var(--Dark-Blue-2, #090E23);
  }
  
  
  @media screen and (max-width: 640px) {
    .about-card {
      padding: 32px 24px; 
    }
  }
  
  
  
 