.nav {
    color: var(--Dark-Blue-2, #090E23);
    font-family: "Space Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: 1.04px;
}