/* Form.css */

.form-container {
    display: flex;
    flex-direction: column;
    /* padding: 9rem; */
  }
  
  .left-section {
    flex: 1;
  }
  
  .right-section {
    flex: 1;
    margin-top: 1rem;
  }
  
  @media (min-width: 768px) {
    .form-container {
      flex-direction: row;
    }
  
    .left-section {
      flex: 0.5;
    }
  
    .right-section {
      flex: 0.5;
      margin-top: 0;
      padding: 0 1rem;
    }
  }
  
  /* Add more media queries as needed for larger screens */
  
  /* Add any other styles or overrides here */
  